.section .container {
	margin-top: 1rem;
}

#top {
	opacity: 1;
	transform: translate(0%);
	transition: all 350ms ease-out;
}

#top.fadeIn {
	opacity: 1;
	transform: translate(0%);
}

#top.fadeOut {
	opacity: 0;
	transform: translate(-100%);
}

#mosaic {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	transition: all 350ms ease-out;
}

#mosaic.slideIn {
	position: relative;
	top: calc(0vh);
}

#mosaic.slideOut {
	top: 2rem;
}