.navbar-start {
	flex-grow: 1;
}
.navbar-start .navbar-item{
	flex-grow: 1;
}
.navbar-start .navbar-item .field{
	flex-grow: 1;
}
.control.is-loading::after {
	top: 0.95em;
}
.navbar-link {
	min-width: 7rem;
	font-weight: 700;
}